<?php
$host="localhost";
$user="root";
$pass="";

switch($_SERVER['HTTP_HOST'])
{
	case 'localhost':
		$host="localhost";
		$user="root";
		$pass="";
		$dbname="farmacia_fsalinas";
	break;
	
	default:
		$host="amazonhbrkuzpe.cufineydp5dx.us-west-2.rds.amazonaws.com";
		$user="root";
		$pass="Pharadox2018";
		$dbname="hbsystem";
	break;
}
$adapter="mysqli";
$tablePrefix = "";
